In [42]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import random
import statsmodels.api as sm
import statsmodels.stats.diagnostic as smd
import pandas as pd
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,r2_score
import seaborn as sns
import statsmodels.api as sm
import scipy.stats as stats
import statsmodels.stats.diagnostic as diag
from sklearn.naive_bayes import GaussianNB
#Metrics
from sklearn.metrics import make_scorer, accuracy_score,precision_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score ,precision_score,recall_score,f1_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_selector as selector

In [43]:
houses_df = pd.read_csv('train.csv')

houses_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [44]:
numerical_columns_selector = selector(dtype_exclude=object)
categorical_columns_selector = selector(dtype_include=object)

numerical_columns = numerical_columns_selector(houses_df)
categorical_columns = categorical_columns_selector(houses_df)
print("Numerical: ", numerical_columns)
print("Categorical: ",categorical_columns)

Numerical:  ['Id', 'MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold', 'SalePrice']
Categorical:  ['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature', 'SaleType', 'SaleCondition']

In [45]:
from sklearn.preprocessing import LabelEncoder

# Create a LabelEncoder object
le = LabelEncoder()

# Fit and transform the 'Precio_Categoria' column
for column in categorical_columns:
    houses_df[column] = le.fit_transform(houses_df[column])

houses_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,3,65.0,8450,1,2,3,3,0,...,0,3,4,4,0,2,2008,8,4,208500
1,2,20,3,80.0,9600,1,2,3,3,0,...,0,3,4,4,0,5,2007,8,4,181500
2,3,60,3,68.0,11250,1,2,0,3,0,...,0,3,4,4,0,9,2008,8,4,223500
3,4,70,3,60.0,9550,1,2,0,3,0,...,0,3,4,4,0,2,2006,8,0,140000
4,5,60,3,84.0,14260,1,2,0,3,0,...,0,3,4,4,0,12,2008,8,4,250000

In [46]:
numerical = houses_df[numerical_columns]
# numerical['HouseStyle'] = houses_df['HouseStyle']
numerical

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,192,84,0,0,0,0,0,12,2008,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,62.0,7917,6,5,1999,2000,0.0,0,...,0,40,0,0,0,0,0,8,2007,175000
1456,1457,20,85.0,13175,6,6,1978,1988,119.0,790,...,349,0,0,0,0,0,0,2,2010,210000
1457,1458,70,66.0,9042,7,9,1941,2006,0.0,275,...,0,60,0,0,0,0,2500,5,2010,266500
1458,1459,20,68.0,9717,5,6,1950,1996,0.0,49,...,366,0,112,0,0,0,0,4,2010,142125
1459,1460,20,75.0,9937,5,6,1965,1965,0.0,830,...,736,68,0,0,0,0,0,6,2008,147500

In [47]:
numerical = numerical.dropna()
numerical.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1121 entries, 0 to 1459
Data columns (total 38 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1121 non-null   int64
 1   MSSubClass     1121 non-null   int64
 2   LotFrontage    1121 non-null   float64
 3   LotArea        1121 non-null   int64
 4   OverallQual    1121 non-null   int64
 5   OverallCond    1121 non-null   int64
 6   YearBuilt      1121 non-null   int64
 7   YearRemodAdd   1121 non-null   int64
 8   MasVnrArea     1121 non-null   float64
 9   BsmtFinSF1     1121 non-null   int64
 10  BsmtFinSF2     1121 non-null   int64
 11  BsmtUnfSF      1121 non-null   int64
 12  TotalBsmtSF    1121 non-null   int64
 13  1stFlrSF       1121 non-null   int64
 14  2ndFlrSF       1121 non-null   int64
 15  LowQualFinSF   1121 non-null   int64
 16  GrLivArea      1121 non-null   int64
 17  BsmtFullBath   1121 non-null   int64
 18  BsmtHalfBath   1121 non-null   int64
 19  FullBath       1121 non-null   int64
 20  HalfBath       1121 non-null   int64
 21  BedroomAbvGr   1121 non-null   int64
 22  KitchenAbvGr   1121 non-null   int64
 23  TotRmsAbvGrd   1121 non-null   int64
 24  Fireplaces     1121 non-null   int64
 25  GarageYrBlt    1121 non-null   float64
 26  GarageCars     1121 non-null   int64
 27  GarageArea     1121 non-null   int64
 28  WoodDeckSF     1121 non-null   int64
 29  OpenPorchSF    1121 non-null   int64
 30  EnclosedPorch  1121 non-null   int64
 31  3SsnPorch      1121 non-null   int64
 32  ScreenPorch    1121 non-null   int64
 33  PoolArea       1121 non-null   int64
 34  MiscVal        1121 non-null   int64
 35  MoSold         1121 non-null   int64
 36  YrSold         1121 non-null   int64
 37  SalePrice      1121 non-null   int64
dtypes: float64(3), int64(35)
memory usage: 341.6 KB

In [48]:
# Define the target
y = numerical.pop('SalePrice')

# Remove the target from the current DataFrame
X = numerical
random.seed(1234)

In [49]:

X_train, X_test,y_train, y_test = train_test_split(X, y,test_size=0.3,train_size=0.7)

In [50]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 784 entries, 752 to 197
Data columns (total 37 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             784 non-null    int64
 1   MSSubClass     784 non-null    int64
 2   LotFrontage    784 non-null    float64
 3   LotArea        784 non-null    int64
 4   OverallQual    784 non-null    int64
 5   OverallCond    784 non-null    int64
 6   YearBuilt      784 non-null    int64
 7   YearRemodAdd   784 non-null    int64
 8   MasVnrArea     784 non-null    float64
 9   BsmtFinSF1     784 non-null    int64
 10  BsmtFinSF2     784 non-null    int64
 11  BsmtUnfSF      784 non-null    int64
 12  TotalBsmtSF    784 non-null    int64
 13  1stFlrSF       784 non-null    int64
 14  2ndFlrSF       784 non-null    int64
 15  LowQualFinSF   784 non-null    int64
 16  GrLivArea      784 non-null    int64
 17  BsmtFullBath   784 non-null    int64
 18  BsmtHalfBath   784 non-null    int64
 19  FullBath       784 non-null    int64
 20  HalfBath       784 non-null    int64
 21  BedroomAbvGr   784 non-null    int64
 22  KitchenAbvGr   784 non-null    int64
 23  TotRmsAbvGrd   784 non-null    int64
 24  Fireplaces     784 non-null    int64
 25  GarageYrBlt    784 non-null    float64
 26  GarageCars     784 non-null    int64
 27  GarageArea     784 non-null    int64
 28  WoodDeckSF     784 non-null    int64
 29  OpenPorchSF    784 non-null    int64
 30  EnclosedPorch  784 non-null    int64
 31  3SsnPorch      784 non-null    int64
 32  ScreenPorch    784 non-null    int64
 33  PoolArea       784 non-null    int64
 34  MiscVal        784 non-null    int64
 35  MoSold         784 non-null    int64
 36  YrSold         784 non-null    int64
dtypes: float64(3), int64(34)
memory usage: 232.8 KB

In [51]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 337 entries, 483 to 1293
Data columns (total 37 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             337 non-null    int64
 1   MSSubClass     337 non-null    int64
 2   LotFrontage    337 non-null    float64
 3   LotArea        337 non-null    int64
 4   OverallQual    337 non-null    int64
 5   OverallCond    337 non-null    int64
 6   YearBuilt      337 non-null    int64
 7   YearRemodAdd   337 non-null    int64
 8   MasVnrArea     337 non-null    float64
 9   BsmtFinSF1     337 non-null    int64
 10  BsmtFinSF2     337 non-null    int64
 11  BsmtUnfSF      337 non-null    int64
 12  TotalBsmtSF    337 non-null    int64
 13  1stFlrSF       337 non-null    int64
 14  2ndFlrSF       337 non-null    int64
 15  LowQualFinSF   337 non-null    int64
 16  GrLivArea      337 non-null    int64
 17  BsmtFullBath   337 non-null    int64
 18  BsmtHalfBath   337 non-null    int64
 19  FullBath       337 non-null    int64
 20  HalfBath       337 non-null    int64
 21  BedroomAbvGr   337 non-null    int64
 22  KitchenAbvGr   337 non-null    int64
 23  TotRmsAbvGrd   337 non-null    int64
 24  Fireplaces     337 non-null    int64
 25  GarageYrBlt    337 non-null    float64
 26  GarageCars     337 non-null    int64
 27  GarageArea     337 non-null    int64
 28  WoodDeckSF     337 non-null    int64
 29  OpenPorchSF    337 non-null    int64
 30  EnclosedPorch  337 non-null    int64
 31  3SsnPorch      337 non-null    int64
 32  ScreenPorch    337 non-null    int64
 33  PoolArea       337 non-null    int64
 34  MiscVal        337 non-null    int64
 35  MoSold         337 non-null    int64
 36  YrSold         337 non-null    int64
dtypes: float64(3), int64(34)
memory usage: 100.0 KB

In [52]:
gaussian = GaussianNB()
gaussian.fit(X_train,y_train)
y_pred = gaussian.predict(X_test)
cm = confusion_matrix(y_test,y_pred)

In [53]:
accuracy=accuracy_score(y_test,y_pred)
precision =precision_score(y_test, y_pred,average='micro')
recall =  recall_score(y_test, y_pred,average='micro')
f1 = f1_score(y_test,y_pred,average='micro')
print('Confusion matrix for Naive Bayes\n',cm)
print('Accuracy: ',accuracy)

Confusion matrix for Naive Bayes
 [[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
Accuracy:  0.008902077151335312